
/* ....loader.... */
.sk-cube-grid {
    position: absolute;
    width: 70px;
    height: 70px;
    margin: auto;
    text-align: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #078bff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }
body{
    position: relative;
    background:linear-gradient(90deg, rgb(8, 8, 8) , rgb(48, 48, 48)) !important;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh !important;
}
.active{
    font-size: 10px !important;
    border-color:rgba(255, 0, 0, 0) !important;
}
a{
    text-decoration: none !important;
}
.dota{
    display: inline;
    color: white !important;
}
/* ....SCROLL.... */
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: rgb(65, 65, 65)
}
::-webkit-scrollbar-track:hover{
    background-color: rgb(65, 65, 65)
}
::-webkit-scrollbar-thumb{
    background-color: #078bffa6;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #078bff;
}
::-webkit-scrollbar-corner{
    background-color: black;
}
/* ::-webkit-scrollbar-button{
    background-color: rgba(0, 0, 0, 0.918);
} */
/* ....HEADER.... */
header{
    background: rgb(255, 255, 255) url(macbook-925595_1920.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    width: 100%;
    height: 850px;
    flex-direction: row;
    padding: 0px;
}
#banner{
    flex-direction: row;
    align-items: flex-end;
    margin-left: 950px;
    margin-top: 20%;
    margin-left: 50%;
    position: relative;
}
#float{
    font-size: 30px;
    font-family: monospace;
    margin-left: -10px;
    /* color: whitesmoke !important; */
    position: fixed;
    
    color: #ffffff;
    opacity: 0.7;
    margin-top: -25px;
    visibility: hidden;
    text-overflow: ellipsis;
}
header h1{
    
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
    padding-top: 10px;
    margin-top: 20%;
    margin-left: 30px;
    font-size: 75px;
}
header h2{
    
    font-size: 55px;
    text-align: start;
    padding-left: 70px;
    
    color: #ffffff;
}
header h3{
    font-size: 45px;
    font-weight: normal;
    text-align: start;
    padding-left: 90px;
    color: #078bff !important;
}
header h4{
    font-size: 40px;
    text-align: start;
    padding-left: 250px;
}
.dot{
    display: inline;
    
    font-weight: normal;
    
    color:#078bff !important;
}
strong{
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white !important;
}
/* ....ABOUT.... */
#about{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.123);
    border-bottom: 5px double rgba(255, 255, 255, 0.74);
    border-bottom-right-radius: 180px;

}
#about::before{
    width: 500px !important;
}
#about h1{
    color:#078bff !important;
    font-size: 60px;
}
#main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center; 
    padding-top: 70px;
    width: 90%;
    height: 800px;
    text-align: center;
}
#main hr{
    opacity: 1;
    margin: auto !important;
    width: 23%;
    height: 1px;
    background-color: rgb(255, 255, 255) !important;
}
#main p{
    width: 70% ;
    color:#078bff !important;
    text-align: justify;
    font-size: larger;
    margin-left: 110px;
}
#vid{
    width: 50%;
    height: 600px;
    border: 3px solid #078bff !important;
    border-radius: 15px;
}
#vid:hover{
    border: 3px solid #ffffff !important;
    box-shadow: 0px 0px 10px #ffffff !important;
}
#asubmitButton{
    margin-top: 30px;
    color: whitesmoke !important;
    background-color: #ffd00000 !important;
}
#asubmitButton:hover{
    color: black !important;
    background-color: #078bff !important;
}
/* ....PROFILE.... */
#profile{
    background-color: rgba(0, 0, 0, 0.123);
    border-top: 5px double rgba(255, 255, 255, 0.74);
    border-top-left-radius: 180px;
    width: 100%;
    height: 1500px !important;
    
}
#profile h1{
    color:#078bff !important;
    font-size: 60px !important;
    margin: 0px !important;

    padding-top: 50px;
}
#profilehr{
    opacity: 1;
    margin: auto !important;
    width: 13%;
    height: 1px;
    background-color: white !important;
}
#myskills{
    width: 100%;
    height: 60% !important;
}
label{
    font-size: 25px;
    line-height: 50px;
    width: 70%;
    text-align: start !important;
    color: whitesmoke !important;
}
.bg-warning {
    background-color: #078bff !important;
}
.progress{
    
    width: 70%;
    height: 25px !important;
    border-radius: 25px !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    text-align: end !important;
    margin: auto;
    margin-bottom: 30px;
}
.progress-bar{
    color: whitesmoke !important;
    transition: width 0.5s linear;
}
#project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 100%;
    height: 40% !important;
  
    /* background-color: rgb(255, 251, 192); */
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    border-top: 8px double rgb(0, 0, 0);
    border-bottom: 3px solid black;
}
.swiper {
    position: absolute;
    margin: auto;
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap !important;
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 20px;
    background: rgba(0, 0, 0, 0);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: #078bff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-pagination{
    --swiper-theme-color: #078bff;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.text-muted{
    margin-bottom: 50px;
}
.image__title{
    color: whitesmoke !important;
    padding: -100px !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.image__description{
    color: whitesmoke !important;
    padding: -100px !important;
}
.image {
    position: relative;
    width: 300px;
    height: 50%;
    margin: 10px;
}

.image__img {
    position: absolute;
    display: block;
    width: 100%;
    border-radius: 15px;
}
.image:hover{
    box-shadow: 0px 0px 15px #ffffff !important;
    border-radius: 15px;
    transform: scale(1.1);
}
.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 15px;
}
.image__overlay--blur {
    backdrop-filter: blur(5px) !important;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
    
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
    margin: auto;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
    margin: auto;
}
/* ....CONTACT.... */
section{
    background:rgba(0, 0, 0, 0.123) url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png);
    
    background-blend-mode: darken;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
   
    margin-top: 405px !important;
}
.section-heading{
    color: #078bff !important;
    font-size: 50px !important;
    padding-top: 00px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 50px !important;
    left: 0;
    width: 100%;
}
.form-control:focus{
    border: 2px white solid !important;
    border-color: rgb(255, 255, 255) !important;
    box-shadow: 1px 1px 10px white !important;
}
#contacthr{
    opacity: 1;
    margin: auto !important;
    width: 20%;
    height: 1px;
    background-color: white !important;
}
.contacte{
    display: inline;
    color: whitesmoke !important;
    font-weight: normal;
}
.gmail{
    color: rgba(255, 255, 255, 0.555) !important;
    font-size: 20px !important;
    padding-top: 20px;
}
.or{
    color: rgba(255, 255, 255, 0.555) !important;
    font-size: 25px;
    margin-bottom: 70px;
}
#contactForm input{
    color: whitesmoke !important;
    font-size: large;
    background-color: rgba(209, 209, 209, 0);
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 1px 1px 10px grey !important;
}
#contactForm input:valid{
    border: 2px solid #00c700ef !important;
    outline: 0px;
}
#contactForm input:invalid{
    outline: 0px;
}
#message{
    border: 1px solid #078bff !important;
    width: 100%;
    margin: 0px;
    height: 400px;
    min-height: 400px;
    max-height: 400px;
    color: whitesmoke !important;
    font-size: large;
    background-color: rgba(0, 0, 0, 0);
}
#submitButton{
    margin-right: 560px;
    margin-bottom: 15px;
    margin-top: -200px;
    color: whitesmoke !important;
    background-color: #ffd00000 !important;
}
#submitButton:hover{
    color: black !important;
    background-color: #078bff !important;
}
/* ....SOCIAL.... */
#social{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.social{
    font-size: 35px;
    margin: 35px;
    margin-top: -50px;
    margin-bottom: 100px;
    color: #94949491 !important;
    cursor: pointer;
}
.at{
    font-family: sans-serif !important;
}
.social:hover{
    color: #078bff !important;
    transform: scale(1.2);
}
/* ....FOOTER.... */
footer{
    height: 150px;
}
footer hr{
    margin: auto;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
}
footer p{
    /* font-weight: lighter;
    font-size: smaller; */
    color: white !important;
    opacity: 0.8;
}
/* ....NAV BAR.... */
.nav-link{
    justify-content: center;
    margin: 0px;
    text-align: center;
    font-size: 15px!important;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0) !important;
}
.nav-link:hover{
    border-color: rgba(255, 0, 0, 0) !important;
}
.nav-item{
    height: 60px;
    background-color: rgba(56, 56, 56, 0);
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.nav-item:hover{
    background-color: #078bff !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 50%;
    border-color: rgba(34, 34, 34, 0) !important;
}
.fixed-bottom{
    background-color: #ffffff4f;
    text-align: center;
    margin: auto;
    margin-bottom: 15px !important;
    width: 40%;
    justify-content: space-around !important;
    border-radius: 50px;
    border-bottom: 0px solid black !important;
}
.fixed-bottom:hover{
    background-color: rgba(43, 29, 29, 0.200);
}
#ihome{
    width: 34px;
}
#ihome:hover{
    transform: scale(1.3);
}
#iabout{
    width: 31px;
    filter:contrast(150%);
    filter: saturate(1);
    filter: blur(-1px);
    opacity: 0.6;
}
#iabout:hover {
    transform: scale(1.3);
}
#iprofile{
    width: 33px;
}
#iprofile:hover {
    transform: scale(1.3);
}
#icontact{
    width: 35px;
}
#icontact:hover {
    transform: scale(1.3);
}
/* ....Thankyou Message.... */
.thankyou_message{
    margin: auto;
    margin-bottom: 10px;
}
@media screen and (max-width: 500px){
header{
    width: 100%;
    background-size: 100%;
    background-size: cover;
    height: 270px;
    margin: auto;
    position: relative;
}
#float{
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5px;
}
#hello-box{
    position: absolute;
    margin: 20px;
    margin-left: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
header h1{
    text-align: start;
    font-size: 35px;
    margin-bottom: -15px !important;
    margin-left: 15px;
}
header h2{
    font-size: 23px;
    text-align: start;
    padding-left: 20px;
    margin-bottom: -10px;
}
header h3{
    font-size: 17px;
    font-weight: 450;
    text-align: start;
    padding-left: 40px;
    margin-left: -11px;
    color: rgb(0, 0, 0) !important;
}
header h4{
    font-size: 15px;
    text-align: start;
    padding-left: 90px;
}
.dot{
    display: inline;
    color: rgb(0, 0, 0) !important;
    font-weight:normal;
}
#about{
    border-bottom-right-radius: 80px;
}
#main{
    margin: auto;
    flex-direction: column-reverse;
    padding-top: 50px;
    height: 900px;
    text-align: center;
}
#main h1{
    font-size: 40px;
    margin-bottom: 0px;
}
#main hr{
    width: 110px;
}
#main p{
    font-size: 15px;
    margin: auto;
    width: 100%;
}
#vid{
    width: 230px;
    margin: auto;
    margin-top: 20px;
    height: auto;
}
#profile h1{
    font-size: 40px !important;
}
#profile hr{
    width: 120px;
}
label{
    font-size: 20px;
    width: 60%;
}
#profile{
    height: 1200px !important;
    border-top-left-radius: 80px;
}
#myskills{
    width: 100%;
    height: 70% !important;
}
#project{
    width: 100%;
    height: 30% !important;
}
.swiper-slide{
    width: 100% !important;
    height: 75% !important;
    margin: auto;
}
.image__overlay{
    width: 250px;
    height: 250px;

}
.image{
    display: inline-block;
    margin: 10px;
    width: 250px;
    height: 250px;
}
.imag__img{
    width: 100%;
    height: 10% !important;
}
section{
    margin-top: 175px;
}
.text-center h1{
    font-size: 40px !important;
    padding-top: 25px;
}
#contacthr{
    width: 160px !important;
}
#contactForm input{
    font-size: large;
    background-color: rgba(209, 209, 209, 0);
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 1px 1px 10px grey !important;
}
#submitButton{
    margin-right: 560px;
    margin-bottom: 15px;
    margin-top: -50px !important;
    margin: auto;
}
.nav-item{
    margin-left: 1px;
    margin-right: 1px;
}
.fixed-bottom{
    width: 81%;
}
#ihome{
    width: 29px;
}
#iabout{
    width: 28px;
}
#iprofile{
    width: 28px;
}
#icontact{
    width: 30px;
}
}
  @media (min-width: 501px) and (max-width: 767px){
        header {
            background-size: cover !important;
            height: 400px !important;
            width: 100%;
        }
        #hello-box {
            position: absolute;
            margin: 30px;
            margin-left: 20px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        #float {
            font-size: 25px;
        }
        header h1 {
            text-align: start;
            font-size: 45px;
            margin-bottom: -10px !important;
            margin-right: 150px;
        }
        header h2 {
            font-size: 28px;
            text-align: start;
            padding-left: 20px;
        }
        header h3 {
            font-size: 23px;
            font-weight: 400;
            text-align: start;
            padding-left: 40px;
        }
        header h4 {
            font-size: 20px;
            text-align: start;
            padding-left: 90px;
        }
        #about {
            border-bottom-right-radius: 100px;
        }
        #main {
            margin: auto;
            flex-direction: column-reverse;
            padding-top: 50px;
            height: 950px;
            text-align: center;
        }
        #main h1 {
            font-size: 45px
        }
        #main hr {
            width: 130px;
            margin-bottom: 10px !important;
        }
        #main p {
            font-size: 20px;
            margin: auto;
            margin-bottom: 10px;
            width: 100%;
        }
        #asubmitButton {
            width: 140px;
            padding: 8px;
            margin-top: 15px;
        }
        #vid {
            width: 240px;
            margin: auto;
            margin-top: 30px;
            height: auto;
        }    
        #profile {
            border-top-left-radius: 100px;
        }
        #profile h1 {
            font-size: 50px !important;
        }
        #profile hr {
            width: 140px;
            margin-bottom: 10px !important;
        }
        .swiper-slide {
            width: 100% !important;
            height: 100% !important;
            margin: auto;
        }
        .text-center h1 {
            font-size: 40px !important;
            padding-top: 25px;
        }
        #contacthr {
            width: 160px !important;
            margin-bottom: 10px !important;
        }
        #submitButton {
            margin-right: 560px;
            margin-bottom: 15px;
            margin-top: -50px !important;
            margin: auto;
            width: 150px;
            padding: 8px;
        }
        .nav-item{
            margin-left: 5px;
            margin-right: 5px;
        }
        .fixed-bottom {
            width: 70%;
        }
    }
  @media (min-width: 768px) and (max-width: 1023px){
        header {
            background-size: cover !important;
            height: 600px !important;
            width: 100%;
        }
        #hello-box {
            position: absolute;
            margin: 40px;
            margin-left: 35px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        header h1 {
            text-align: start;
            font-size: 50px;
            margin-bottom: -10px !important;
            margin-right: 150px;
        }
        header h2 {
            font-size: 40px;
            text-align: start;
            padding-left: 20px;
        }
        header h3 {
            font-size: 35px;
            font-weight: 400;
            text-align: start;
            padding-left: 40px;
        }
        header h4 {
            font-size: 35px;
            text-align: start;
            padding-left: 90px;
        }
        #about {
            border-bottom-right-radius: 100px;
        }
        #main {
            margin: auto;
            flex-direction: column-reverse;
            padding-top: 50px;
            height: 950px;
            text-align: center;
        }
        #main h1 {
            font-size: 55px
        }
        #main hr {
            width: 150px;
            margin-bottom: 10px !important;
        }
        #main p {
            font-size: 20px;
            margin: auto;
            width: 100%;
        }
        #asubmitButton {
            width: 140px;
            padding: 8px;
            margin-top: 15px;
        }
        #vid {
            width: 300px;
            margin: auto;
            margin-top: 30px;
            height: auto;
        }    
        #profile {
            border-top-left-radius: 100px;
        }
        #profile hr {
            width: 165px;
            margin-bottom: 10px !important;
        }
        .swiper-slide {
            width: 40.5% !important;
            height: 100% !important;
            margin: auto;
        }
        .text-center h1 {
            font-size: 50px !important;
            padding-top: 25px;
        }
        #contacthr {
            width: 180px !important;
            margin-bottom: 10px !important;
        }
        #submitButton {
            width: 150px;
            padding: 8px;
            margin-right: 350px;
        }
        .nav-item{
            margin-left: 10px;
            margin-right: 10px;
        }
         .fixed-bottom {
             width: 60% ;
        }
}
  @media (min-width: 1024px) and (max-width: 1199px) {
        header {
            background-size: cover !important;
            height: 700px !important;
            width: 100%;
        }
        #hello-box {
            position: absolute;
            margin: 50px;
            margin-left: 55px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        header h1 {
            text-align: start;
            font-size: 75px;
            margin-bottom: -10px !important;
            margin-right: 150px;
        }
        header h2 {
            font-size: 55px;
            text-align: start;
            padding-left: 20px;
        }
        header h3 {
            font-size: 47px;
            font-weight: 400;
            text-align: start;
            padding-left: 40px;
        }
        header h4 {
            font-size: 40px;
            text-align: start;
            padding-left: 90px;
        }
        #float {
            font-size: 35px;
        }
        #main {
            margin: auto;
            flex-direction: column-reverse;
            padding-top: 50px;
            height: 1500px;
            text-align: center;
        }
        #main h1 {
            font-size: 80px
        }
        #main hr {
            width: 220px;
            margin-bottom: 10px !important;
        }
        .text-muted{
            font-size: 40px;
        }
        #main p {
            font-size: 33px;
            margin: auto;
            width: 100%;
        }
        #asubmitButton {
            font-size: 25px;
            width: 220px;
            padding: 10px;
            margin-top: 50px;
            margin-bottom: 20px;
        }
        #vid {
            width: 475px;
            margin: auto;
            margin-top: 30px;
            height: auto;
        }
        #profile {
            height: 1700px !important;
        }
        #profile h1{
            font-size: 85px !important;
        }    
        #profile hr {
            width: 230px;
            margin-bottom: 10px !important;
        }
        label {
            font-size: 35px;
            width: 70%;
        }
        .progress {
            width: 70%;
            height: 35px !important;
        }
        .swiper-slide {
            width: 0.% !important;
            height: 100% !important;
            margin: auto;
        }
        #contact{
            margin-top: 255px;
        }
        .text-center h1{
            font-size: 75px !important;
            padding-top: 25px;
        }
        #contacthr{
            width: 300px !important;
            margin-bottom: 10px !important;
        }
        #contactForm input {
            font-size: 25px;
        }
        #message {
            font-size: 25px;
        }
        #submitButton {
            font-size: 25px;
            width: 220px;
            padding: 10px;
            margin-right: 450px;
        }
        .nav-item{
            margin-left: 10px;
            margin-right: 10px;
        }
         .fixed-bottom {
             width: 55% !important;
        }
          #ihome {
            width: 35px;
        }
          #iabout {
            width: 34px;
        }
          #iprofile {
            width: 35px;
        }
          #icontact {
            width: 36px;
        }
  }
  @media (min-width: 1400px) and (max-width: 1950px){
    header {
        background-size: cover !important;
        height: 1000px !important;
        width: 100%;
    }
    #hello-box {
        position: absolute;
        margin: 70px;
        margin-left: 95px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    header h1 {
        text-align: start;
        font-size: 95px;
        margin-bottom: -10px !important;
        margin-right: 150px;
    }
    header h2 {
        font-size: 70px;
        text-align: start;
        padding-left: 20px;
    }
    header h3 {
        font-size: 65px;
        font-weight: 400;
        text-align: start;
        padding-left: 40px;
    }
    header h4 {
        font-size: 55px;
        text-align: start;
        padding-left: 90px;
    }
    #float {
        font-size: 45px;
    }
    #main h1 {
        font-size: 75px
    }
    #main hr {
        width: 240px;
        margin-bottom: 10px !important;
    }
    .text-muted{
        font-size: 45px;
    }
    #main p {
        font-size: 25px;
        margin-top: -30px !important;
    }
    #asubmitButton {
        font-size: 25px;
        width: 220px;
        padding: 8px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #profile h1{
        font-size: 85px !important;
    }    
    #profile hr {
        width: 230px;
        margin-bottom: 10px !important;
    }
    #contact{
        margin-top: 255px;
    }
    .text-center h1{
        font-size: 75px !important;
        padding-top: 25px;
    }
    #contacthr{
        width: 300px !important;
        margin-bottom: 10px !important;
    }
    #contactForm input {
        font-size: 25px;
    }
    #message {
        font-size: 25px;
    }
    #submitButton {
        font-size: 25px;
        width: 220px;
        padding: 8px;
        margin-right: 650px;
    }
    .nav-item {
        margin-left: 15px;
        margin-right: 15px;
    }
    .fixed-bottom {
        width: 35% !important;
   }
  }
   @media (min-width: 1951px){
    header {
        background-size: cover !important;
        height: 1600px !important;
        width: 100%;
    }
    #hello-box {
        position: absolute;
        margin: 130px;
        margin-left: 150px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    header h1 {
        text-align: start;
        font-size: 145px;
        margin-bottom: -10px !important;
        margin-right: 150px;
    }
    header h2 {
        font-size: 100px;
        text-align: start;
        padding-left: 20px;
    }
    header h3 {
        font-size: 95px;
        font-weight: 400;
        text-align: start;
        padding-left: 40px;
    }
    header h4 {
        font-size: 85px;
        text-align: start;
        padding-left: 90px;
        margin-left: 200px;
    }
    #float {
        font-size: 60px;
        margin-top: -30px !important;
        margin-left: -10px !important;
    }
    #main {
        margin: auto;
        height: 1300px;
        text-align: center;
        margin-right: 220px !important;
        padding-top: 70px !important;
    }
    #main h1 {
        font-size: 100px;
        margin-top: 50px;
    }
    #main hr {
        width: 280px;
        margin-bottom: 10px !important;
    }
    .text-muted{
        font-size: 50px;
    }
    #main p {
        font-size: 40px;
        margin-top: -30px !important;
        margin: auto;
    }
    #asubmitButton {
        font-size: 35px;
        width: 275px;
        padding: 10px;
        margin-top: 50px;
    }
    #vid {
        width: 850px;
        height: 900px;
        margin-top: 50px;
        border: 5px solid #078bff !important;
    }
    #profile {
        height: 2100px !important;
    }
    #profile h1{
        font-size: 95px !important;
    }    
    #profile hr {
        width: 280px;
        margin-bottom: 10px !important;
    }
    label {
        font-size: 45px;
        width: 85%;
        margin-bottom: 5px;
    }
    .progress {
        width: 85%;
        height: 65px !important;
        margin-top: 5px;
    }
    .swiper-slide {
        width: 0.% !important;
        height: 100% !important;
        margin: auto;
    }
    .image {
        position: relative;
        width: 60%;
        height: 60%;
        margin: 10px;
    }
    section{
        height: 1400px !important;
    }
    #contactform{
        text-align: center !important;
    }
    #contact{
        margin-top: 285px;
    }
    .text-center h1{
        font-size: 80px !important;
        padding-top: 25px;
    }
    #contacthr{
        width: 320px !important;
        margin-bottom: 10px !important;
    }
    #contactForm input {
        font-size: 35px;
        width: 120%;
        height: 100px;
        background-color: rgba(209, 209, 209, 0);
        margin-bottom: 20px;
        padding: 50px !important;
        margin-right: 750px !important;
    }
    #message {
        width: 120%;
        margin-left: 150px;
        height: 500px !important;
        min-height: 500px;
        max-height: 500px;
        font-size: 35px;
    }
    #submitButton {
        font-size: 35px;
        width: 275px;
        padding: 10px;
        margin-right: 550px;
    }
    .social {
        font-size: 60px;
        margin: 60px;
        margin-top: -50px;
        margin-bottom: 100px;
}
    .nav-item {
        margin-left: 25px;
        margin-right: 25px;
    }
    footer{
        height: 180px !important;
    }
    footer p{
        font-size: 30px !important;
    }
    .fixed-bottom {
        width: 30% !important;
   }
    #ihome {
      width: 40px;
  }

    #iabout {
      width: 39px;
  }

    #iprofile {
      width: 40px;
  }

    #icontact {
      width: 41px;
  }
 }